/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Josefin+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #ecf9f6;
    --second-bg-color: #39927c;
    --text-color: #0a0808;
    --main-color: #091013;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Default Styles for Desktop */

.header {
    position: fixed;
    background-color: #081b29;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: #39927c;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

@keyframes showRight {
    100% {
        width: 50%;
    }
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Responsive Styles for Mobile and Tablet */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar {
        display: none; 
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: #081b29;
        width: 100%;
        padding: 1rem 0;
        z-index: 100;
    }

    .navbar.active {
        display: flex; 
    }

    .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        font-weight: 500;
        margin-left: 1rem;
        margin-bottom: 1rem; 
        transition: .3s;
    }

    #menu-icon {
        font-size: 3.6rem;
        color: var(--text-color);
        cursor: pointer;
        display: block; 
        margin: 1rem; 
    }
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

.home {
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: var(--bg-color);
}

.home-content {
    max-width: 60rem;

}

.home-content h1 {
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);

}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background:#b6d8f0; */
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;


}

.home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);

}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;

}

.btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;

}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background:#cae0f0; */
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a:hover:before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;

}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}

@media (max-width: 768px) {
    .home-content {
        text-align: center; 
        padding: 0 10px; 
    }
    .home-content h1 {
        font-size: 4rem; 
    }

    .text-animate h3 {
        font-size: 2rem; 
    }

    .home-sci {
        justify-content: center; 
        margin-top: 20px; 
    }

    .home-sci a {
        font-size: 2rem; 
        margin: 0 10px; 
    }

    .home-imgHover {
        display: none; /* Hide the background image on smaller screens if needed */
    }
}
/* Default Styles for Desktop */

.about {
    
    display: flex;
    width: 100%;
    /* max-width: 100px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: justify;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

@media (max-width: 768px) {
    .about {
        text-align: center; 
    }

    .about-img {
        width: 80%; 
        margin: 0 auto; 
    }

    .about-img img {
        width: 100%; 
    }

    .about-content {
        padding: 20px; 
    }

    .about-content h3 {
        font-size: 2rem; 
    }

    .about-content p {
        font-size: 1.4rem;
    }
}




/* Education section css */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;


}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.education-row .education-column {
    flex: 1 1 40rem;

}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;

}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

}

.education-content .content:hover::before {
    width: 100%;

}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;

}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


/* Skiils section css */

.skills {
    min-height: 50%;
    padding-bottom: 7rem;
    background: var(--second-bg-color);

}

.skills .skills-row {
    display: inline-block;
    flex-wrap: wrap;
    gap: 5rem;

}

.skills .skills-column {
    flex: 1 1 40rem;

}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;

}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;

}

.skills-box .skills-content:hover::before {
    width: 100%;

}

.skills-content .progress {
    padding: 1rem 0;

}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;

}

.skills-content .progress h3 span {
    color: var(--text-color);

}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;

}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);

}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}
/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;

}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;

}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;

}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

.skills {
    background: #39927c;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #0a0808;
    font-size: 75px;
    width: 1330px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.card {
    position: relative;
    width: 335px;
    height: 40rem;
    padding: 20px 30px;
    background-color: #ecf9f6;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
}

h5 {
    color: rgb(17, 16, 16);
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.pra p {
    color: rgba(10, 9, 10, 0.8);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .bttn {
    background-color: #f9004d;
    color: white;
    padding: 9px 22px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    /* width: 55%; */
    text-decoration: none;
    transition: .4s;
}

.card .bttn:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact .button-two {
    background-color: #f9004d;
    color: white;
    padding: 9px 22px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    /* width: 55%; */
    text-decoration: none;
    transition: .4s;
}

.contact .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #ecf9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: rgb(19, 11, 11);
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: rgb(17, 10, 10);
    font-size: 17px;
    width: 500px;
    text-align: center;
    list-style: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #39927c;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.social a:hover {
    transform: scale(1.3);
    transition: .4s;

}


